importlib-metadata==4.13.0
flask
click >= 8.0
cloud-files>=1.25.2
requests>=2.25.0
grpcio>=1.36.1
certifi>=2020.12.5
pyopenssl
numpy
pandas
networkx==2.1
google-cloud-bigtable>=0.33.0
google-cloud-datastore>=1.8,<=2.18.0
flask_cors
codecov
multiwrapper
python-json-logger
zstandard
redis
rq
middle-auth-client>=3.11.0
dracopy==1.3.0
zmesh
fastremap
contact-points
messagingclient
jsonschema<4.0
cloud-volume
pyyaml
datastoreflex
