click>=8.0
protobuf>=4.22.0
requests>=2.25.0
grpcio>=1.36.1
numpy
pandas
networkx>=2.1
google-cloud-bigtable>=0.33.0
google-cloud-datastore>=1.8
flask
flask_cors
python-json-logger
redis>5
rq>2
pyyaml
cachetools
werkzeug
tensorstore

# PyPI only:
cloud-files>=5.3.0
cloud-volume>=12.2.0
multiwrapper
middle-auth-client>=3.11.0
zmesh>=1.7.0
fastremap>=1.14.0
task-queue>=2.13.0
messagingclient
dracopy>=1.5.0
datastoreflex>=0.5.0
zstandard==0.21.0

# Conda only - use requirements.yml (or install manually):
# graph-tool